polkit.addRule(function(action, subject) {
if (action.id == "org.freedesktop.upower.suspend"
&& subject.isInGroup("power"))
return polkit.Result.YES;
});