!stjerm setup
stjerm*autohide: false
stjerm*key: F1
!stjerm*mod: alt
stjerm*width: 1280
stjerm*height: 500
stjerm*background: black
stjerm*foreground: white
stjerm*opacity: 50
stjerm*font: Bitstream Vera Sans Mono 10
stjerm*border: none
stjerm*scrollbar: disabled
stjerm*position: bottom
stjerm*shell: /bin/sh
stjerm*lines: 10000
stjerm*showtab: one
stjerm*tabpos: bottom
stjerm*tablabel: term
!stjerm*color0  #242424
!stjerm*color8  #cdb5cd
!stjerm*color1  #bf7979
!stjerm*color9  #f4a45f
!stjerm*color2  #97b26b
!stjerm*color10  #c5f779
!stjerm*color3  #cdcda1
!stjerm*color11  #ffffaf
!stjerm*color4  #86a2be
!stjerm*color12  #!98afd9
!stjerm*color5  #d9b798
!stjerm*color13  #d7d998
!stjerm*color6  #a1b5cd
!stjerm*color14  #a1b5cd
!stjerm*color7  #ffffff
!stjerm*color15  #dedede